/* * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  margin-left: 250px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  /* padding: 0px 10px; */
}

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eed;
}

.breadcrumb-item {
  display: inline;
  font-size: 18px;
}

.breadcrumb li+li:before {
  /* padding: 8px; */
  color: black;
  content: ">>";
}

.breadcrumb-item a {
  color: #2e4053;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: red;
}